# deps
node_modules/

# next
.next/
out/

# vercel
.vercel/

# build artifacts
*.tsbuildinfo
next-env.d.ts

# testing
coverage/
playwright-report/
test-results/

# os
.DS_Store

# env
.env*.local

# logs
*.log
